@model dynamic
<html>
    <head>
        <title>Sample Web Site</title>
    </head>
    <body>
        <h1>Sample Website</h1>
        <p>Success! The website is up and running</p>
    </body>
</html>